@model IEnumerable<BitHub.Models.Bit>

@{
    ViewBag.Title = "Home Page";
}

<ul class="bits">
    @foreach(var bit in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @bit.Date.ToString("MMM")
                </div>
                <div class="day">
                    @bit.Date.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @bit.Artist.Name
                </span>
                <span class="genre">
                    @bit.Genre.Name
                </span>
            </div>
                                   
        </li>
    }
</ul>